<div class="container mt-3 pb-3">
  <div class="row">
    <div class="col-lg-6 border">
      <h1>Novo Autor</h1>

        <%= render 'form', author: @author %>

        <%= render "devise/shared/links" %>

    </div>
  </div>
</div>