<%= link_to new_post_path do %>
  <div class="card mt-3 btn btn-lg text-light card_black">
    <div class="card-body">
      <h5 class="card-title"><strong>+ Novo Post</strong></h5>
    </div>
    <div class="card-footer">
      <h6><leader class="text-muted">Escreva Algo Novo!!!</leader></h6>
    </div>
  </div>
<% end %>
