<div class="container mt-3 pb-3 border">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">POSTS<small class="lead"> Todos</small></h1>
      <div class="card-deck d-flex justify-content-center">

        <%= render partial: 'card_new' %>

        <%= render partial: 'card_post' %>

      </div>
    </div>
  </div>
</div>

